<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>ВВОД ИСХОДНЫХ ДАННЫХ</title>
    </head>
        <body>
            <tr>
                <td><div align="center">
                <big><big><font color="black">
                    <p><strong>ЛАБОРАТОРНАЯ РАБОТА ПО ПРОГРАММИРОВАНИЮ НЕУПРАВЛЯЕМОГО ДВИЖЕНИЯ ЛЕТАТАТЕЛЬНОГО АППАРАТА</strong></p>
                </big></big></font>
                    <p>&nbsp; </p>
                    </div>
                  </td>
              </tr>
            <div align="center">
            <form action="#" method="post">
                <p>Введите начальную скорость (м/с): <input type="text" name="V0"></p>
                <p>Введите угол бросания (градусы): <input type="text" name="TETA"></p>
                <p>Введите начальные координаты - Х (м): <input type="text" name="X"></p>
                <p>Введите начальные координаты - Y (м): <input type="text" name="Y"></p>
                <button  type="submit" name="submit" value="runFile">Построить таблицу</button>
                <button  type="submit" name="submit" value="writeFigure">Нарисовать график</button>
            </form>
            <img src="https://png.pngtree.com/png-clipart/20220307/original/pngtree-little-bee-dotted-flight-path-png-image_7425038.png" alt="не могу загрузить изображение"width="500" height="600">       
            </div>
        </body>
</html>